.App{
  background-color: #282c34;
  color: white;
  text-align: center
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}
.navLinks{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}